table {
	border-collapse: collapse;
	color: #000;
}

td, th {
	border: 1px solid #eebbee;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ddf;
	opacity: 0.5
}

tr:nth-child(odd) {
	background-color: #bbe;
	opacity: 0.5
}
